In [1]:
!pip install pandas
#Implementierung des SHA-2 Algorithmus auf einem Datensatz zu Police Shootings in den USA (https://www.kaggle.com/ahsen1330/us-police-shootings)

Requirement already satisfied: pandas in c:\users\jonar\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jonar\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\jonar\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jonar\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\jonar\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [106]:
import hashlib
import pandas

In [107]:
rawFile = pandas.read_csv('shootings.csv')
rawFile.head()
#name gets hashed, because the date of death isn't identifying enough

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [108]:
data = rawFile.get(rawFile.columns[1])

print(data)
for index, row in rawFile.iterrows():
    newName = hashlib.sha256(row[1].encode()).hexdigest()
    rawFile.loc[index, "name"] = newName    
print(data)

0               Tim Elliot
1         Lewis Lee Lembke
2       John Paul Quintero
3          Matthew Hoffman
4        Michael Rodriguez
               ...
4890       Rayshard Brooks
4891        Caine Van Pelt
4892          Hannah Fizer
4893        William Slyter
4894        Nicholas Hirsh
Name: name, Length: 4895, dtype: object
0       a037bd31cab954b09eacc5bb131903c76b858ff84c42e6...
1       9b82e1784ddb3ecee83043d599b795d4a2a822a7f73e12...
2       68afdc240cbaec0271776a921939122501f4292e918ce5...
3       0380f848c27d2d3e65c9b7e6d88a6e6826866396f7148e...
4       f252a287a74169da5652cd518cb1670da7dd06b253becd...
                              ...
4890    e590bbf5859f3fd7a670cf1b32a185df38e4aa203a01cc...
4891    db39be5dac0040547758cb8c8fe855bde610d0408b6e24...
4892    b87505878243319662be9898f834338bf7b786b26aad09...
4893    e74071a77d046ed3409849c4e44c2faf291d469e26baa2...
4894    3c9ce883e8a245e8ef0cceaa0780226149837abcfa2185...
Name: name, Length: 4895, dtype: object

In [109]:
rawFile.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,a037bd31cab954b09eacc5bb131903c76b858ff84c42e6...,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,9b82e1784ddb3ecee83043d599b795d4a2a822a7f73e12...,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,68afdc240cbaec0271776a921939122501f4292e918ce5...,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,0380f848c27d2d3e65c9b7e6d88a6e6826866396f7148e...,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,f252a287a74169da5652cd518cb1670da7dd06b253becd...,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [110]:
rawFile.to_csv('hashedName.csv')